name: Firebase Hosting Preview

on:
  push:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Firebase Preview Deploy
        run: firebase hosting:channel:deploy preview --token ${{ secrets.FIREBASE_TOKEN }}
